body {

  background: #332D29;

}

.icon-bar {

    width: 70px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
}

.icon-bar a {

    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 28px; /* Increased font-size */
}

.icon-bar a:hover {

    background-color: #01bcbc;
}

.active {

    background-color: #01bcbc;
}
